<!DOCTYPE html>
<html>
<head>
    <title>Post Review</title>
</head>
<body>

<h1>Post Review</h1>

<p>Dealer ID: {{ dealer_id }}</p>

<form>
    <label>Review:</label><br>
    <textarea rows="4" cols="50">This dealership provided excellent service.</textarea>
    <br><br>

    <label>Purchase made?</label>
    <input type="checkbox" checked>
    <br><br>

    <label>Car Make:</label>
    <input type="text" value="Toyota">
    <br><br>

    <label>Car Model:</label>
    <input type="text" value="Corolla">
    <br><br>

    <label>Car Year:</label>
    <input type="number" value="2023">
    <br><br>

    <!-- DO NOT SUBMIT -->
    <button type="button">Submit Review</button>
</form>

</body>
</html>
